<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
</head>
<body>
    <div id="app">
        <input v-model="nuevatarea" placeholder="Nombre de la tarea">
        <button v-on:click="annadirTarea()" >Añadir tarea</button>
        <componente  nombre="Jose"></componente>
        <h1>Tienes {{tareas.length}} tareas</h1>
        <h1>Tienes {{porCompletar}} tareas pendientes</h1>
        <div id='example-3'>
            <input type="checkbox" id="completadas" value="Completadas" v-model="estado">
            <label for="completadas">Completadas</label>
            <input type="checkbox" id="pendientes" value="Pendientes" v-model="estado">
            <label for="pendientes">Pendientes</label>
        </div>
        <template v-for="item in tareas">
            <h1>{{item.Tarea}}</h1>
            <h2>{{item.Prioridad}}</h2>
            <p>{{item.Fecha_Creacion}}</p>
            <p>{{item.Completada}}</p>
            <button>Completar</button>
            <br>
        </template>
    </div>
    <template id="template-prueba">
        <h1>Prueba a tope con {{nombre}}</h1>
    </template>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="main.js"></script>
</body>
</html>